@import '../../helpers/styles/constants.scss';

.upload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 300px;
  margin: auto 0;
}

.upload__form {
  display: block;
}

.drop__area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;

  font-size: 20px;
  font-weight: 500;

  color: $color-secondary;

  border: 2px dashed $color-secondary;
}
