@import '../../helpers/styles/constants.scss';

.sort__label {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px;

  font-weight: 500;
  line-height: 1;

  color: $color-secondary;

  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 8px;
}

.sort__selector {
  appearance: none;
  padding: 0 4px;
  height: fit-content;
  margin-right: 8px;

  font-size: 0.8rem;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;

  color: $background-primary;

  background-color: $color-secondary;
  border-radius: 4px;

  @include cssTransition(background-color transform);

  &:hover,
  &:focus {
    background-color: $color-accent;
    transform: scale(1.1);
  }

  &-title {
    display: none;
    padding: 0;

    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.sort__button {
  display: flex;
  align-items: center;
  padding: 2px;

  color: $background-primary;
  border: none;
  border-radius: 4px;
  background-color: $color-secondary;
  cursor: pointer;

  @include cssTransition(background-color transform);

  &:hover,
  &:focus {
    background-color: $color-accent;
    transform: scale(1.1);
  }

  &-icon {
    width: 12px;
    height: 12px;
    object-fit: contain;

    fill: currentColor;
  }
}
