@import '../../helpers/styles/constants.scss';

.file {
  color: $color-primary;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  &:hover {
    cursor: pointer;

    color: $color-accent;
  }

  &--list {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    margin: 16px;
  }

  &--tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    min-height: 150px;
  }

  &--header {
    color: $color-secondary;
  }

  &__buttons-container {
    display: none;
    list-style: none;
  }

  &:hover &__buttons-container {
    display: flex;
  }

  &__icon {
    &--list {
      grid-column-start: 1;
      justify-self: center;
    }

    &--tile {
      width: 100px;
      height: 100px;
      margin-bottom: 8px;
    }

    &-picture {
      display: block;
      fill: currentColor;

      &--list {
        width: 36px;
        height: 36px;
      }

      &--tile {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.file__name {
  &--list {
    grid-column-start: 2;
  }

  &--tile {
    display: block;
    margin-bottom: 8px;
  }
}

.file__date {
  grid-column-start: 5;
}

.file__size {
  grid-column-start: 6;
}

.file__download {
  &--list {
    grid-column-start: 3;
  }

  &--tile {
    margin-right: 16px;
  }
}

.file__delete {
  grid-column-start: 4;
}

.file__info {
  display: block;
}
