@import '../../helpers/styles/constants.scss';

.files__list {
  $hight: calc($container-height - 132px - ($layout-unit * 4));

  width: 100%;
  min-height: $hight;
  max-height: $hight;
  overflow-y: auto;

  &--tile {
    display: flex;
    flex-wrap: wrap;
  }
}
