@import '../../helpers/styles/constants.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  margin: 0 auto;

  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;

  color: $color-translucent;

  backdrop-filter: blur(5px);

  &__copyright {
    margin-right: 8px;
  }

  &__link {
    color: inherit;

    @include cssTransition(color);

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
