@import '../../helpers/styles/constants.scss';

.prompt {
  position: absolute;
  top: 24px;
  left: -142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: $layout-unit;

  z-index: 1;

  color: $color-secondary;

  background-color: $background-secondary;
  backdrop-filter: blur(5px);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  &__message {
    margin-bottom: calc($layout-unit * 2);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    list-style: none;
  }
}
