@import '../../helpers/styles/constants.scss';

.search__input {
  width: 150px;
  height: 24px;
  padding: 6px;
  margin-left: $layout-unit;

  font-size: 0.8rem;

  color: $color-secondary;

  background-color: $background-primary;
  border: 2px solid currentColor;
  border-radius: 8px;
  @include cssTransition(color transform filter);

  @media screen and (min-width: $tablet) {
    width: 250px;
    height: 36px;
    padding: 8px;
    margin-left: calc($layout-unit * 2);

    font-size: 1rem;
  }

  &:focus {
    color: $color-accent;
    transform: scale(1.01);
    filter: drop-shadow(0 0 20px $color-translucent);
  }
}
