.container {
  display: flex;
  flex-direction: column;
  width: calc($desktop - ($layout-unit * 2));
  min-height: $container-height;
  max-height: $container-height;
  margin: 0 auto;

  &--navbar {
    min-height: $navbar-height;
    max-height: $navbar-height;
    justify-content: flex-end;
  }
}

.section {
  min-height: calc(100vh - $navbar-height - $footer-height);
  padding: $layout-unit 0;

  &__title {
    display: block;

    font-size: 3rem;
    line-height: 1;

    color: $background-backdrop;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  z-index: 100;

  background-color: $background-backdrop;
  backdrop-filter: blur(5px);

  &--loader {
    background-color: rgba(15, 34, 46, 0.2);
    backdrop-filter: none;
  }
}
