.container {
  display: flex;
  flex-direction: column;
  width: 1136px;
  min-height: calc(100vh - 50px - ($layout-unit * 8));
  margin: 0 auto;

  &--navbar {
    min-height: calc($layout-unit * 4);
  }
}

.section {
  min-height: calc(100vh - 50px);
  padding: calc($layout-unit * 4) 0;
}

.section__title {
  display: block;
  font-size: 3rem;

  color: $background-secondary;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
