$color-primary: #ffffff80;
$color-secondary: #ffffff;
$color-accent: #5ce1e6;
$color-translucent: #5ce1e680;

$background-primary: #152b3a;
$background-secondary: #2e6e70cc;
$background-backdrop: rgba(15, 34, 46, 0.95);

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
$desktop-xl: 1600px;

$layout-unit: 16px;
$navbar-height: 70px;
$footer-height: 20px;
$container-height: calc(100vh - $navbar-height - $footer-height - ($layout-unit * 2));

@mixin cssTransition($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
