$color-primary: #ffffff;
$color-secondary: #c3cb9b;
$color-accent: #946c61;

$background-primary: #09012c;
$background-secondary: #171f4e;
$background-triadic: #242c01;
$background-backdrop: rgba(0, 0, 0, 0.5);

$mobile: 400px;
$tablet: 768px;
$desktop: 1200px;

$layout-unit: 8px;
