$color-primary: #ffffff80;
$color-secondary: #ffffff;
$color-accent: #5ce1e6;
$color-translucent: #5ce1e680;

$background-primary: #152b3a;
$background-secondary: #2e6e7080;
$background-triadic: #080344;
$background-backdrop: rgba(15, 34, 46, 0.95);

$mobile: 400px;
$tablet: 768px;
$desktop: 1200px;

$layout-unit: 8px;
$navbar-height: 70px;
$footer-height: 20px;

@mixin cssTransition($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
