@import '../../helpers/styles/constants.scss';

.uploader__item {
  width: 100%;
  padding: 8px;

  background-color: $background-secondary;
  backdrop-filter: blur(5px);
  border-radius: 4px;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.uploader__progress {
  display: flex;
  align-items: center;
  width: 100%;
}

.uploader__item-header {
  margin-bottom: 8px;
  font-size: 0.8rem;
}

.progress__bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1rem;
  margin-right: 8px;
  overflow: hidden;

  background-color: $background-primary;

  border-radius: 8px;

  &-percent {
    font-size: 0.8rem;
  }
}
