@import '../../helpers/styles/constants.scss';

.disk {
  $height: calc($container-height - 56px);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: $height;
  max-height: $height;
  padding: $layout-unit;
  background-color: $background-backdrop;
  backdrop-filter: blur(5px);
  border-radius: 16px;

  @media screen and (min-width: $tablet) {
    min-height: calc($height - 8px);
    max-height: calc($height - 8px);
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-bottom: calc($layout-unit * 2);

    color: $color-secondary;

    &-item {
      &:not(:last-of-type) {
        margin-right: 6px;

        @media screen and (min-width: ($mobile + 55px)) {
          margin-right: 8px;
        }

        @media screen and (min-width: $tablet) {
          margin-right: $layout-unit;
        }
      }
      &:nth-last-of-type(2) {
        margin-left: auto;
      }
    }
  }
}
