@import '../../helpers/styles/constants.scss';

$margin-unit: calc($layout-unit * 2);

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $navbar-height;

  color: $color-secondary;

  &__content {
    display: flex;
  }
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: $margin-unit;

  fill: currentColor;

  &__title {
    font-size: 24px;
    font-weight: 700;

    text-transform: uppercase;

    color: currentColor;
  }

  &__link {
    display: flex;
    align-items: center;

    color: $color-secondary;
    @include cssTransition(color transform filter);

    &:hover,
    &:focus {
      color: $color-accent;
      transform: scale(1.01);
      filter: drop-shadow(0 0 20px $color-translucent);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-right: $margin-unit;
}

.navlinks__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;

  &-item {
    &:not(:last-of-type) {
      margin-right: $margin-unit;
    }
  }
}

.navlink {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;

  color: $color-secondary;
  @include cssTransition(color transform filter);

  &.active,
  &:hover,
  &:focus {
    color: $color-accent;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px $color-accent);
  }
}
