@import '../../helpers/styles/constants.scss';

.hero {
  min-height: $container-height;
  max-height: $container-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;

    color: $color-secondary;

    transform: scale(0);

    animation: onLoadScale 300ms ease-in 1000ms 1 forwards;

    @media screen and (min-width: $tablet) {
      width: 30%;
      margin: auto 0;
    }

    &-title {
      display: block;
      margin-bottom: $layout-unit;

      font-size: 1.2rem;

      color: $color-accent;

      @media screen and (min-width: $tablet) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: $desktop) {
        font-size: 1.8rem;
      }
    }

    &-text {
      display: block;
      margin-bottom: 8px;

      font-size: 0.8rem;

      @media screen and (min-width: $tablet) {
        font-size: 0.9rem;
      }

      @media screen and (min-width: $desktop) {
        font-size: 1rem;
      }

      &:last-of-type {
        margin-bottom: 32px;
      }
    }

    &-span {
      font-size: 1.2rem;
      font-weight: 700;
      color: $color-accent;

      @media screen and (min-width: $tablet) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: $desktop) {
        font-size: 1.8rem;
      }
    }
  }

  &__link {
    width: fit-content;
    @include cssTransition(color transform filter);

    &:hover,
    &:focus {
      color: $color-accent;

      transform: scale(1.1);
      filter: drop-shadow(0 0 20px $color-accent);
    }

    &--text {
      color: $color-accent;
    }

    &--button {
      padding: 8px;
      margin: 0 auto;

      font-weight: 500;
      line-height: 1;

      color: currentColor;

      border: 2px solid currentColor;
      border-radius: 8px;

      @media screen and (min-width: $tablet) {
        margin: 0 0 0 auto;
      }
    }
  }
}

@keyframes onLoadScale {
  100% {
    transform: scale(1);
  }
}
